/*reset css a voir suivant les performances*/

html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
  }
  
  ol, ul {
    list-style: none;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }


  /*mon style*/
  $base-color: #515666;
  $header-color:#88a6cc;
  $ul-color:#1a01fc;
  body{
    background:$base-color;

    header{      
      display: flex;
      flex-direction: column;
      background: $header-color;
      width: justify;
      height: 10rem;

      h1{   
        margin-top: 2rem;         
        text-align: center;
        font-size: 3rem;
      }      

      nav{
        position: absolute;
        top: 75px;
        right: 0px;
        margin-top:50px;
        margin-right: 2%;
        font-size: 30px;
        
        ul{
          text-justify: auto;
          display: flex;
          flex-direction: row;
          background-color: $ul-color;  
          width: 100%;
          margin-right : 5% ;
          
          li{
            text-align: center  ;
            border-right: 2px solid #bbb; 
            padding-right: 1rem;  
            padding-left: 1rem;         
          }
      }
    }
  }

    main{
      
    .slider{
      height: 80vh;
      position: relative;

      img{
        object-fit: cover;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition:opacity 0.5s;       
      }
      img.active{
        opacity: 1;
      }
      .suivant,.precedent{
          color: #ffff;
          font-size: 3rem;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          cursor: pointer;
      }
      .suivant{
        right: 1rem;
      }
      .precedent{
        left: 1rem;
      }
    }

    .colonnePrincipale{
      display: flex;
      flex-direction: column;
      margin:2rem;
      width: 150vh;
      position: absolute;
      left: 0%;
    .actu{
      
      width: 80vh;
      font-size: 30px;
      margin-top: 2rem;
      margin-left: auto;
      margin-right: auto;
      background-color:$header-color;
      position:relative;     
      ul{ 
          height: 15rem;
          text-justify: auto;
          display: flex;
          flex-direction: column;
          border  : 2px solid #bbb;
          width: 100%;
          margin-right : 5% ;
          position: center;
          overflow-y: scroll;
          
          li{
            text-align: left  ;
            padding: 0,5rem;         
          }
      }
    }
    .article{
      height: 10rem;
      width: 80vh;
      font-size: 30px;
      margin-top: 2rem;
      margin-left: auto;
      margin-right: auto;
      background-color:$header-color;
      position:relative;
    }
    }
  }

  footer{    
    background:#ccc;

position:absolute;

bottom:0;

width:100%;

padding-top:50px;

height:50px;
  }
}