/*reset css a voir suivant les performances*/
html {
  box-sizing: border-box;
  font-size: 16px;
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  cursor: pointer;
}

/*mon style*/
body {
  display: flex;
  flex-direction: column;
}

/*variables*/
/*mixins*/
body {
  font-family: sans-serif;
  background: #515666;
}
body .toggle {
  display: none;
}
body .btn {
  border: 0;
  font-size: 30px;
  color: white;
  background-color: #515666;
  cursor: pointer;
  border-radius: 20px;
}
body .btn-Connexion {
  background: transparent;
  border: 2px solid #515666;
  color: white;
}
body header {
  display: flex;
  flex-direction: column;
  background: #515666;
  width: justify;
  height: 10rem;
}
body header .bandeau {
  background-color: rgb(9, 30, 90);
  height: 8vh;
  width: 100%;
  position: relative;
}
body header h1 {
  margin-top: 2rem;
  text-align: center;
  font-size: 3rem;
}
body header .ouvrir,
body header .fermer {
  color: white;
}
body header nav {
  justify-content: space-between;
  align-items: center;
  position: absolute;
  bottom: 25%;
  right: 0px;
  margin-top: 50px;
  margin-right: 2%;
  font-size: 30px;
  background-color: rgb(9, 30, 90);
}
body header nav ul {
  text-justify: auto;
  display: flex;
  flex-direction: row;
  background-color: #1a01fc;
  color: white;
  width: 100%;
  margin-right: 5%;
  text-align: center;
}
body header nav ul li {
  text-align: center;
  border-right: 2px solid #bbb;
  padding-right: 1rem;
  padding-left: 1rem;
}
body header nav ul li a {
  color: white;
  text-decoration: none;
}
body main {
  margin-bottom: 2rem;
}
body main .slider {
  border-bottom: 3rem solid rgba(9, 31, 90, 0.298);
  height: 50vh;
  position: relative;
  width: 102vh;
  margin: auto;
  margin-top: 2vh;
}
body main .slider img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
}
body main .slider img.active {
  opacity: 1;
}
body main .slider .suivant,
body main .slider .precedent {
  color: white;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
body main .slider .suivant {
  right: 1rem;
}
body main .slider .precedent {
  left: 1rem;
}
body main .colonnes {
  display: flex;
  flex-direction: row;
  width: 101vh;
  margin: auto;
}
body main .colonnes .colonnePrincipale {
  display: flex;
  flex-direction: column;
  margin-right: 2rem;
  width: 10vh;
  position: relative;
}
body main .colonnes .colonnePrincipale .actu {
  height: 15rem;
  width: 50vh;
  font-size: 30px;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #88a6cc;
  position: relative;
  border-bottom: 3rem solid rgba(9, 31, 90, 0.298);
  /*width: 50vh;
  font-size: 30px;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
  background-color: $header-color;
  position: relative;*/
  border: 2px solid #bbb;
  overflow-wrap: normal;
  overflow-y: auto;
}
body main .colonnes .colonnePrincipale .actu a {
  color: black;
  text-decoration: none;
}
body main .colonnes .colonnePrincipale .actu h2 {
  font-size: 30px;
  position: absolute;
  bottom: -3rem;
}
body main .colonnes .colonnePrincipale .actu ul {
  height: 15rem;
  text-justify: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-right: 5%;
  position: center;
}
body main .colonnes .colonnePrincipale .actu ul li {
  text-align: left;
  margin-left: 1%;
  margin-bottom: 1%;
  padding: 0, 5rem;
}
body main .colonnes .colonnePrincipale .timbre {
  height: 15rem;
  width: 50vh;
  font-size: 30px;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #88a6cc;
  position: relative;
  border-bottom: 3rem solid rgba(9, 31, 90, 0.298);
  background-color: #88a6cc;
}
body main .colonnes .colonnePrincipale .timbre a {
  color: black;
  text-decoration: none;
}
body main .colonnes .colonnePrincipale .timbre h2 {
  font-size: 30px;
  position: absolute;
  bottom: -3rem;
}
body main .colonnes .colonneSecondaire {
  display: flex;
  flex-direction: column;
  width: 69%;
  margin-left: 3rem;
  position: absolute;
}
body main .colonnes .colonneSecondaire .timbre {
  height: 15rem;
  width: 50vh;
  font-size: 30px;
  margin-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #88a6cc;
  position: relative;
  border-bottom: 3rem solid rgba(9, 31, 90, 0.298);
}
body main .colonnes .colonneSecondaire .timbre a {
  color: black;
  text-decoration: none;
}
body main .colonnes .colonneSecondaire .timbre h2 {
  font-size: 30px;
  position: absolute;
  bottom: -3rem;
}
body footer {
  position: relative;
  width: 100%;
  font-size: 30px;
  text-align: center;
  background: #ccc;
  padding-top: 50px;
}

/*  regles media query*/
@media only screen and (max-width: 991px) {
  .open .toggle .ouvrir {
    display: none;
  }
  .open .toggle .fermer {
    display: block;
  }
  .open .menu {
    transform: translateX(0);
  }
  body .toggle {
    margin: 1rem;
    float: none;
    display: block;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    z-index: 20;
  }
  body .toggle .ouvrir {
    display: block;
  }
  body .toggle .fermer {
    display: none;
  }
  body header nav {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
    bottom: 0;
    right: 0px;
  }
  body header nav .menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    flex-direction: column;
    z-index: 10;
    transform: translateX(-100%);
    transition: transform 0.5s;
  }
  body header nav ul {
    background-color: rgb(9, 30, 90);
    margin: 0;
    display: flex;
    flex-direction: column;
  }
  body header nav ul li {
    margin-left: 0;
    padding-right: 0;
    padding-bottom: 1rem;
  }
  body main .slider {
    border-bottom: 3rem solid rgba(9, 31, 90, 0.298);
    height: 30vh;
    position: relative;
    width: 45vh;
    margin: auto;
    margin-top: 2vh;
  }
  body main .colonnes {
    display: flex;
    flex-direction: column;
  }
  body main .colonnes .colonnePrincipale {
    width: auto;
    margin: auto;
  }
  body main .colonnes .colonneSecondaire {
    width: auto;
    margin: auto;
    position: relative;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
